/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px auto;
    width: 90%;
}

/* inizio main */

/*    navbar   */
nav {
    background-color: #e579e6;
    margin-bottom: 30px;
    height: 100px;
}

/*  background-image */
.background-img {
    background-color: #e1d67a;
    margin-bottom: 30px;
    height: 200px;
}

/* fine main */